@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;

.btn {
    @include btn(8px, $btn_color);

    color: $white_color;
    font-weight: 400;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $btn_color;
        color: $white_color;
    }
}
