PORT=3000
DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<db>?retryWrites=true&w=majority
JWT_SECRET=<base64_or_random_string>
JWT_REFRESH_SECRET=<another_base64_or_random_string>
NODE_ENV=development
