@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;


.formContainer{
    @include padding(20px,20px,20px,20px);
    font-family: 'Roboto Mono';
    transition: all 0.3s ease;
    

    .formTitle{
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        font-family: inherit;
        margin-bottom: 20px;
    }

    .checkBoxItem {
            font-size: 16px;
    }
    .forgotPass{
        color: inherit;
        text-decoration: none;
        font-size: 16px;


        &:hover{
            text-decoration: underline; color: #349696;
        }
    }

    
}

 .fade {
        animation: fadeIn 0.3s ease;
}
 
@keyframes fadeIn {
    from {
            opacity: 0;
            transform: translateY(10px);
    }
    to {
            opacity: 1;
            transform: translateY(0);
    }
}