.formControl {
  position: relative;

     .errorMessage,.inputErr {
        color: red;
        font-size: 12px;  
        margin-top: 4px;
    }

    .passwordIcon {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            font-size: 18px;
            color: #666;
        }
    }

    
    .formControl input {
         padding-right: 40px;
    }
}