@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;

.containerX {
    @include flex_box(center, center, 10px);
    @include margin(65px, 0px, 40px, 0px);
    @include padding(0px, 20px, 0px, 20px);

    @include responsive(tablet) {
        @include margin(50px, 0px, 30px, 0px);
        gap: 8px;
    }

    @include responsive(mobile) {
        @include margin(40px, 0px, 25px, 0px);
        @include padding(0px, 15px, 0px, 15px);
        gap: 6px;
    }
}

.desc {
    font-size: 14px;
    color: $third_color;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    @include responsive(mobile) {
        font-size: 12px;
    }
}

.title {
    font-size: 24px;
    color: $primary_color;
    font-weight: 600;
    white-space: nowrap;

    @include responsive(tablet) {
        font-size: 20px;
    }

    @include responsive(mobile) {
        font-size: 18px;
    }
}

.headline {
    width: 100%;
    height: 2px;
    border-top: 1px solid #e1e1e1;
    flex-shrink: 1;
}

.containerBox {
    @include flex_box(center, center, 0px);
    @include padding(0px, 30px, 0px, 30px);

    flex-direction: column;
    line-height: 1.2;
    text-align: center;
    flex-shrink: 0;

    @include responsive(tablet) {
        @include padding(0px, 20px, 0px, 20px);
    }

    @include responsive(mobile) {
        @include padding(0px, 15px, 0px, 15px);
    }
}