@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;

.navIcons {
    @include flex_box(center,center,0px);
    @include radius_base(50%);

    background-color: $primary_color;
    width: 30px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: hover 0.2s ease;
    -webkit-transition: hover 0.2s ease;
    -moz-transition: hover 0.2s ease;
    -ms-transition: hover 0.2s ease;
    -o-transition: hover 0.2s ease;

    &:hover{
        opacity: 0.8;
    }
}

.container {
    @include flex_box(center, center, 0px);

   z-index: 100;
    left: 0;
    right: 0;
   
}

.topHeader{
    position: absolute;
    top: -6px; 
    background: linear-gradient(180deg, #0a1628 0%, #050c16 100%);

}

.fixedXHeader{
    position: fixed;
    top: -80px;
    z-index: 999;
    background: linear-gradient(180deg, #0a1628 0%, #050c16 100%);
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transition: transform 0.7s ease;
    -webkit-transition: transform 0.7s ease;
    -moz-transition: transform 0.7s ease;
    -ms-transition: transform 0.7s ease;
    -o-transition: transform 0.7s ease;
    // opacity: 0.8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include container;
    height: 80px;

    @include responsive(laptop) {
        @include padding(0, 20px, 0, 20px);
    }

    @include responsive(tablet) {
        height: 70px;
        @include padding(0, 15px, 0, 15px);
    }

    @include responsive(mobile) {
        height: 60px;
        @include padding(0, 10px, 0, 10px);
    }
}

.containerBox {
    @include flex_box(center, center, 10px);

    @include responsive(laptop) {
        gap: 8px;
    }

    @include responsive(tablet) {
        gap: 6px;
    }

    @include responsive(mobile) {
        gap: 8px;
    }

    .boxIcons {
        width: 26px;
        height: 26px;
        cursor: pointer;
        color: #fff;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }

        @include responsive(tablet) {
            width: 22px;
            height: 22px;
        }

        @include responsive(mobile) {
            width: 20px;
            height: 20px;
        }
    }

    
    .NavIcon{
        width: 26px;
        height: 26px;
        cursor: pointer;
        color: #fff;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.containerItem {
    @include flex_box(center, center, 40px);

    @include responsive(laptop) {
        gap: 30px;
    }

    @include responsive(tablet) {
        gap: 20px;
    }

    @include responsive(mobile) {
        gap: 15px;

        &:nth-child(1) {
            gap: 10px;
        }
    }
}

.navLogo {
    @include size_img(24px, 24px, cover);

    @include responsive(tablet) {
        width: 20px;
        height: 20px;
    }

    @include responsive(mobile) {
        width: 18px;
        height: 18px;
    }
}

.navItem {
    cursor: pointer;
    padding-top: 8px;
    font-size: 16px;
    color: #00ffff;
    white-space: nowrap;
    position: relative;

    @include responsive(laptop) {
        font-size: 13px;
    }

    @include responsive(tablet) {
        font-size: 12px;
        padding-top: 6px;
    }

    @include responsive(mobile) {
        display: none;
    }

    .subMenu{
     position: absolute;
     padding: 10px;
     width: 100%;
     background-color: #ffff;
     top: 60px

    }
}

.navItem::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $secondary_color;
    margin-top: 3px;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s, opacity 0.5s;
    -webkit-transition: transform 0.3s, opacity 0.5s;
    -moz-transition: transform 0.3s, opacity 0.5s;
    -ms-transition: transform 0.3s, opacity 0.5s;
    -o-transition: transform 0.3s, opacity 0.5s;
}

.navItem:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}

.headerContent {
    display: flex;
    align-items: center;

    @include responsive(laptop) {
        flex: 1;
        justify-content: center;
    }
}

.titleBox {
    @include flex_box(center, center, 0px);
    flex-direction: column;
    margin-top: -10px;

    @include responsive(laptop) {
        margin-top: 0;
    }

    @include responsive(tablet) {
        display: none;
    }

    @include responsive(mobile) {
        display: none;
    }
}

.titleRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logoFont {
    font-size: 22px;
    white-space: nowrap;
    color: #fff;
    @include responsive(laptop) {
        font-size: 18px;
    }
}

.descLogo {
    // color: $secondary_color;
    color: #59adad;
    margin-top: -4px;
    font-size: 14px;

    @include responsive(laptop) {
        font-size: 12px;
    }
}
