/* ==============================
     Mixin
 ============================== */

@mixin radius_base($radius: 10px) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}
