@use '@styles/variable.module.scss' as *;
/* ==============================
     Mixin radius
 ============================== */

@mixin radius_base($radius: 10px) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

/* ==============================
    Mixin button
 ============================== */
@mixin btn($radius, $color: #fff) {
    @include padding(10px, 40px, 10px, 40px);

    background-color: $color;
    border: 1px solid #e1e1e1;
    outline: 0;
    cursor: pointer;

    @include radius_base($radius);
}


/* ==============================
    Mixin background
 ============================== */
 @mixin background($color) {
    background-color: $color;
}

/* ==============================
    Mixin flexbox
 ============================== */

@mixin flex_box($x, $y, $gap: 10px) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    gap: $gap;
}

/* ==============================
    Mixin size image
 ============================== */
@mixin size_img($w, $h, $obj: cover) {
    width: $w;
    height: $h;
    object-fit: $obj;
}

/* ==============================
    Mixin position 
 ============================== */
@mixin position_sticky($top, $right, $bottom, $left) {
    position: sticky;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/* ==============================
    Mixin margin
 ============================== */
@mixin margin($t, $r, $b, $l) {
    margin-top: $t;
    margin-right: $r;
    margin-bottom: $b;
    margin-left: $l;
}

/* ==============================
    Mixin padding
 ============================== */
@mixin padding($t, $r, $b, $l) {
    padding-top: $t;
    padding-right: $r;
    padding-bottom: $b;
    padding-left: $l;
}

/* ==============================
    Mixin text
 ============================== */
@mixin text_ps($type) {
    text-align: $type;
}

/* ==============================
    Mixin Breakpoints
 ============================== */
@mixin responsive($device) {
    @if $device == mobile {
        @media (max-width: #{$mobile}) {
            @content;
        }
    } @else if $device == tablet {
        @media (max-width: #{$tablet}) {
            @content;
        }
    } @else if $device == laptop {
        @media (max-width: #{$laptop}) {
            @content;
        }
    } @else if $device == desktop {
        @media (max-width: #{$desktop}) {
            @content;
        }
    }
}

@mixin container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

    @include responsive(laptop) {
        max-width: 960px;
    }
    @include responsive(tablet) {
        max-width: 720px;
    }
    @include responsive(mobile) {
        max-width: 540px;
    }
}

@mixin form-valid {
  border-color: #198754; 
  box-shadow: 0 0 0 0.15rem rgba(25, 135, 84, 0.25);
}

@mixin form-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
}

@mixin label-invalid {
  color: #dc3545;
}

@mixin error-text {
  color: #dc3545;
  font-size: 12px;
}