/* ==============================
     Variable
 ============================== */
$primary_color: #333;
$secondary_color: #888;
$third_color: #555;
$white_color: #ffffff;
$sub_color: #404040;
$btn_color: #ff6a3d;

/* ==============================
    Breakpoints
 ============================== */

$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
